@import './variables.scss';
@import './fonts.scss';
@import './utilities.scss';
@import './wallpaper.scss';

:root {
    --wallpaper-image: url(../wallpaper-images/128387.png);
}

main.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}