#main-background {
    /* transform: scale($background-scale); */
}
.head-wallpaper {
    width: calc(1920px * $wallpaper-scale);
    height: calc(1080px * $wallpaper-scale);
    border-radius: 20px;
}
.bg-img {
    background-image: var(--wallpaper-image);
    background-size: cover;
    background-repeat: no-repeat;
}